section {
  h2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.section__flex-container {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .section__flex-container__item{
    margin: 25px 0;
    width: 225px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }

  .section__flex-container__item__image{
    height:140px;
    width: 150px;
  }


  @media screen and (max-width: 768px){
    flex-direction: column;
    align-items: center;
    .section__flex-container__item {
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      p {
        width: 50%;
      }
    }

    .item-1 {
      flex-direction: row-reverse;
    }

    .item-3 {
      flex-direction: row-reverse;
    }
  }

}

.section__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
